<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zico.mappers.MemberMapper">

<resultMap type="Member" id="MemberMap">
 	<result property="mid" column="member_id"/>
 	<result property="mname" column="member_name"/>
 	<result property="mpassword" column="member_password"/>
 	<result property="mphone" column="member_phone"/>
 	<result property="mgrade" column="member_grade"/>
 	<result property="mquestion" column="member_pwd_hint"/>
 	<result property="mqpassword" column="member_pwd_anwser"/>
</resultMap>

<select id="mypage" resultMap="MemberMap">
	select * from member where member_id=#{id}
</select>

<select id="selectId" resultType="Integer">
	select count(*) from member where member_id = #{id}
</select>

</mapper>
